<div class="contact">
    <div class="title">
      ADDRESS
    </div>
    <div class="details">
      91springboard Ackruti Trade Centre, Andheri East, Mumbai
    </div>
    <br/>
    <div class="title">
        PHONE NUMBER
      </div>
      <div class="details">
        +91-7683922389
      </div>
      <br/>
      <div class="title">
        EMAIL
      </div>
      <div class="details">
        naffal.report@gmail.com
      </div><br/>
      <div class="title">
        Naffal is an MCA APPROVED PVT LTD COMPANY
      </div>
      <div class="details">
        <a href="#!">Find link for proof</a>
      </div>


      <!-- <div>
        Step 1: Validating your request
      </div>
      <div>
        Step 2: Pricing determination 
      </div>
      <div>
        Step 3: Deal negotiation, confirmation and ETA - (Payment phase)
      </div>
      <div>
        Step 4: development process
      </div>
      <div>
        Step 5: Testing and defects fixes
      </div>
      <div>
        Step 6: Delivery of service
      </div>
      <div>
        Step 7: Maintainance if applicable
      </div> -->
</div>