<div class="about">
  <div class="project-wrapper">
    <span class="badge">Project 1</span>
    <div class="img-wrapper">
      <img class="moto" src="../../../assets/image/moto.png">
    </div>
    <div class="img-wrapper">
      <img class="handover" src="../../../assets/image/key-handover.png">
    </div>
    <div class="title">
      GYVOR inc - Vehicle Rental Platform
    </div>
    <div class="details">
      <p>
        Despite pandemic, working really hard to make this application reach out to the crowd. 
      </p>
      <pre>
      Key points about this platform
      - Helping businesses and individuals to grow in vehicle rental and sales domain. 
      - Platform where you can buy, sell and rent vehicles.
      - All types of vehicles listed   here. 
      - Available in every corner of city.  
      - Complaint with country vehicle rules and regulation. 
      - 24/7 customer care and support
      </pre>
      <br /><br />
      <b>Email:</b> gyvor.app@gmail.com
      <br />
      <b>Date of Release:</b> 30th June 2021
    </div>
  </div>
</div>