<div class="about">
  <div class="title">
    ABOUT
  </div>
  <div class="details">
    Some unfolded technologies needs a reality check and innovation push. Businesses certainly needs it for growth.
    Our consultancy has put forth to make everyone's life better with some real smart effort.
  </div>
  <br />
  <div class="title">
   TEAM (OF FOUNDERS, AUTHORS & CONSULTANTS)
  </div>

  <div class="details">

    <div class="profilepic">
      <img src="../../../assets/image/rj.jpeg">
    </div>
    <div class="profileabout">
      <p>
       <b>Raj Maharana</b>
      </p>
      <p>
        Specialised domain in frontend and backend development for complex scalable web apps. I write about software
        development and emerging technologies. Want to know how I may help your project? Reach out to me by dropping
        a message in the contact section.

      </p>
    </div>

  </div>
</div>