<div class="content-wrapper">
    <h3>
        <font color="#000000">IoT IN BRIEF</font>
    </h3>
    <p>
        The term IoT is the mixture of home automation and the internet. When it comes to energy-saving
        and personal security, IoT for the home is the best practice. The market cap for home automation will skyrocket
        in the upcoming years. Home automation has been improved, modified, and reassembled for centuries while the
        first IoT device was invented at CMU in 1980s.


        IoT makes home automation smarter by making the state of the devices be controlled remotely.&nbsp;</p>
    <h3>
            <font color="#000000" style="">PRODUCT HIGHLIGHTS</font>
        </h3>
    <p>Naffal&nbsp;professionally engineers robust niche markets and&nbsp;continually delivers effective strategic theme
        areas in the industry of emerging technologies. Domoto is a subsidiary asset in the home automation domain. The
        1st product specifications are as follow,&nbsp;</p>
    <h5>
        <font color="#000000">THE KEY FEATURES OF DOMOTO SMART BOARD&nbsp;</font>
    </h5>
    <ul>
        <li>Built with intelligent energy-saving techniques&nbsp;</li>
        <li>Regular appliances usage with timer and clock.&nbsp;</li>
        <li>Know the power consumption with prompts on UI.&nbsp;</li>
        <li>A beautiful dynamic interface that provides analytics that will go in handy.</li>
        <li>5 channel switchboard works well with or without wifi.&nbsp;</li>
        <li>Can regulate fan, motor speed and heater's heat capcity remotely</li>
        <li>It senses the brightness of the room and regulates the light brightness automatically.</li>
        <li>With Alexa, command the system to act upon your choice.&nbsp;</li>
    </ul>
    <h5>
        <font color="#000000">BENEFITS&nbsp;</font>
    </h5>
    <ul>
        <li>Reduced energy consumption with smart automation.&nbsp;</li>
        <li>Remote control of appliances via wifi.&nbsp;</li>
    </ul>
    <br/>
    <h4>
        <font color="#000000">TARGET CUSTOMERS<br></font><b style="color: rgb(107, 113, 122); font-size: 13px;">

            Who are good to go with wifi, bachelors, comfort-loving & thrifty&nbsp;</b>
    </h4>


    <br/>
    
    <h4>
        <font color="#000000">LUNCH DATE</font><br><b
            style="font-family: inherit; color: rgb(107, 113, 122); font-size: 13px;">
            AUGUST 15, 2021
            </b>
            <!-- <a href="http://www.amazon.com" target="_blank">Amazon</a></b> -->
          
            <!-- Only at Rs. <b>1168</b>&nbsp;<del><b>1870</b></del>   /- (60% Off)<br/> -->
            
    </h4>
    <br/>
    <h4>
        <font color="#000000">PRICE</font><br><b
            style="font-family: inherit; color: rgb(107, 113, 122); font-size: 13px;">
            Economical, hence positive ROI - Product will be on Amazon by the lunch date
            <!-- <a href="http://www.amazon.com" target="_blank">Amazon</a></b> -->
            </b>
            <br/>
            <!-- Only at Rs. <b>1168</b>&nbsp;<del><b>1870</b></del>   /- (60% Off)<br/> -->
            
    </h4>
<br/>

</div>