<p>Site under construction!</p>


<pre>
    How to determine pricing of software?
    The following link has list of all possible software categories in the market 
    and their pricing structure given. 
    https://www.toptal.com/product-managers/product-management/software-pricing-strategy-and-architecture       

    Making personal branding. And along side create branches from it. 
    For examplae. Software services, consumer products etc. 

    Refer this for this site development,
    https://themes.3rdwavemedia.com/devcard/bs4/2.2/services.html

    Best company name generator
    https://www.names4brands.com/name-list-a.html?start=a&lang=&count=6


</pre>
