/* You can add global styles to this file, and also import other style files */


  :host {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body::-webkit-scrollbar {
    width: 7px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #1B1918;
    outline: 1px solid slategrey;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.parent-wrapper{
  position: absolute; 
  width: 100%;
  height: 100%;
  /* mandatory  */
  overflow: hidden; 

}

/* .parent-wrapper img
{
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 width: 100%;
 z-index: -10;
} */
.background-glass{
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: #2980b9;
  opacity: 0.9;
  z-index: -9;
  filter: blur(1px);
}


.logo{
  font-size: 20px!important;
  z-index: 10;
  cursor: auto!important;
      display: inline-block;
  /* top: 0%; */
  /* left: 0%; */
  z-index: 0; 
  font-size: 28px;
  color: #000;
  /* text-shadow: 0 0 1px #1B1918, 0 0 2px #2980b9; */

}
.svg-logo{
  width: 250px;
  cursor: pointer;
}

.list-wrapper{
  /* background: white;
  border-radius: 0.5%;
  position: absolute;
  top: 4%;
  height: 92%;
  left: 10%;
  right: 10%; */
  background: white;
  border-radius: 0.5%;
  position: absolute;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 15%;
  

}

.list-wrapper > div{
  cursor: pointer;
  margin: 10px;
  font-weight: 500;
  /* border-bottom: solid thin #000; */
  font-size: 11px;
  padding: 10px;
  /* border-radius: 10px; */
}
.list-wrapper > div:hover{

  transition: 0.2s linear;
}

.blog-wrapper{
  /* border-radius: 0.5%; */
  position: absolute;
  right: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  /* border-left: solid thick #b0b0b0; */
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%); */
}
.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]){
  box-shadow: none!important;
}
.timeline-wrapper{
  /* background-color: #bdc3c7; */
  position: absolute;
  right: 0;
  /* color: #fff; */
  /* top: 1%; */
  width: 10%;
  height: 100%;
  border-left: solid 1px #bdc3c7;
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 5%);*/
}
.hide-timeline-wrapper{
  display: none;
}
.content-wrapper{
  padding: 0%;
  position: absolute;
  left: 5%;
  top: 6%;
  bottom: 6%;
  /* width: 94%; */
  /* height: 87%; */
  right: 1%;
}
.footer{
  width: 99%;
  background-color: #1B1918;
  position: absolute;
  bottom: 0;
  color: white;
  text-align: right;
  padding: 0.5%;
  font-size: 10px;

}
.details{
  margin: 3px 0;
}
.title{
  color: #1B1918;
  font-size: 15px; 
}
.title > i{
  border-bottom: solid thin #000;
}
.selected{
  /* background-color: #1B1918; */
  border: solid thin #ececec!important;
  /* color:#1B1918; */
  opacity: 0.8;
  /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%); */
}
.unselected{
  background-color: white;
  color:black;
}
.mat-icon {
  vertical-align: middle;
  padding: 0px 5px;
  transform: scale(0.7);
}
.icon-text { 
  /* ref : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
  display: flex;
  align-items: center;
  border: solid thin #fff;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.story-wrapper-mb{
  display:none;
}
.cards-wrapper-mb{
  display:none;
}
.mb-wrapper{
 display:none;
}

/* iPhone */
@media only screen and (max-device-width: 480px){

  .about{
    margin-top:20%;
  }

  .content-wrapper{
    height: 92%;

  }
  .extra-css{
    padding: 10%;
  }
  .contact{
    padding: 15%;
  }
  .story-wrapper{
    display:none;
  }
  .cards-wrapper{
    display:none;
  }
  
.cards-wrapper-mb{
  display:block;
}
.mb-wrapper{
  padding: 10px;
  /* height: 83%; */
  bottom: 4%;
width: 87%;
  left: 0;
  position: absolute;
   display: block; 
   overflow-y:auto;
   overflow-x:hidden;
  top:3%;
  z-index: 99;
}
}

/* Tablet */
@media only screen and (max-device-width: 1030px){

  .about{
    margin-top:20%;
  }

  .content-wrapper{
    height: 92%;

  }
  .extra-css{
    padding: 10%;
  }
  .contact{
    padding: 15%;
  }
  .list-wrapper{
    width: 50%;
    
  
  }
  .story-wrapper{
    display:none;
  }
  .cards-wrapper{
    display:none;
  }
  

.cards-wrapper-mb{
  display:block;
}
.mb-wrapper{
    padding: 10px;
    /* height: 83%; */
    bottom: 4%;
 width: 87%;
    left: 0;
    position: absolute;
     display: block; 
     overflow-y:auto;
     overflow-x:hidden;
    top:3%;
    z-index: 99;
}
}

